
<div class="container">

<a href="/fortune">もう一回</a>

<div class="text-center">
<h1><%= @telling.sample[:title] %></h1>
<% if @randam == @randam2 %>
<%= image_tag '大吉.jpeg',width: '80%', height: '80%' %>
<% elsif @picture > 5 %>
<%= image_tag '中吉.jpeg',width: '80%', height: '80%' %>
<% else %>
<%= image_tag '小吉.jpeg',width: '80%', height: '80%' %>
<% end %>
</div>

<h2><%= @telling[@randam][:body] %></h2>
<h4>さすらば、</h4>
<h2><%= @telling[@randam2][:under] %></h2>

</div>


<div class="text-center"><br><br><br><br>
あなたに幸運があらんことを
<br><br>
<a href="/">ホームへ</a>
</div>

