<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<%if user_signed_in?%>
<%= link_to('ユーザー情報', admin_user_path(@user)) %>
<%end%>





<%if user_signed_in?%>
<% if current_user.admin? %>
<%= link_to "ブログ作成","article/new" %>
<%= link_to "お知らせ作成","info/new" %><br>
<% end %>
<%end%>


<div class="row">
<% @articles.each do |article| %>
  <div class="col-md-3">
   <div class="card" style="width:75%; margin-top:15%;">
    <div class="text-center">
  　　　　<div class="card-body" style="padding:0;"><h6 class="card-title"><%= link_to article.title.truncate(10), "/article/#{article.id}" %></h6></div><div class="card-date"><h10 class="card-subtitle text-muted" style="font-size:80%"><%= link_to "#{article.day}","article/#{article.id}" %></h10></div>
  <p class="card-text"><%= truncate(article.body, :length => 9) %></p></div>

  <p><%if user_signed_in?%>
  <% if current_user.admin? %><%= link_to "編集","article/#{article.id}/edit" %> <%= link_to "削除", "article/#{article.id}", method: :delete %><% end %><% end %></p>
     </div></div><% end %></div>








  







  <br><br>  <br><br>
  <br><br>

  <% @infos.each do |info| %>  
    <%= link_to "#{info.content}","info/#{info.id}" %><br>
<%= info.day %><br>
<% if current_user.admin? %>
<%= link_to "編集","info/#{info.id}/edit" %>
<%= link_to "削除", "info/#{info.id}", method: :delete %><br>  <br><br>

<% end %>
<% end %>
