<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<%= link_to('ユーザー情報', admin_user_path(@user)) %>

<% if current_user.admin? %>
<%= link_to "ブログ作成","article/new" %>
<%= link_to "お知らせ作成","info/new" %><br>
<% end %>


<% @articles.each do |article| %>  
   
<%= article.title %><br>
<%= article.body %><br>
<%= link_to "#{article.day}","article/#{article.id}" %><br>

<% if current_user.admin? %>
<%= link_to "編集","article/#{article.id}/edit" %>
<%= link_to "削除", "article/#{article.id}", method: :delete %>  <br><br>

<% end %>
<% end %>


  <br><br>  <br><br>
  <br><br>

  <% @infos.each do |info| %>  
    <%= link_to "#{info.content}","info/#{info.id}" %><br>
<%= info.day %><br>
<% if current_user.admin? %>
<%= link_to "編集","info/#{info.id}/edit" %>
<%= link_to "削除", "info/#{info.id}", method: :delete %><br>  <br><br>

<% end %>
<% end %>
