<div class="container text-center">

<br>
<br>
<br>
<br>
<br>
<%= form_with(model: @article, local: true) do |form| %>
<div>
    <%= form.label :投稿日, class: 'control-label' %><br>
    <%= form.date_select :day, class: 'form-control' %>
</div>
<div>
    <%= form.label :"タイトル", class: 'control-label' %><br>
    <%= form.text_field :title %>
</div>
<div >
    <%= form.label :"記事" , class: 'control-label' %><br>
    <%= form.text_area :body , size: "100x50" , class: "form-control" %>
</div>
<div><br>
    <%= form.submit :"投稿する" %>
   </div>
  <% end %>
  </div>