<br>
<br>
<br>
<br>
<br>
<%= form_with(model: @info, local: true) do |form| %>
<div>
    <%= form.label :"日付", class: 'control-label' %><br>
    <%= form.date_select :day, class: 'form-control' %>
</div>
<div>
    <%= form.label :"内容", class: 'control-label' %><br>
    <%= form.text_area :content %>
</div>
<div><br>
    <%= form.submit :"投稿する" %>
   </div>
  <% end %>