<div class="container text-center">
<%= form_with url: '/info' do |form|  %>
<div>
    <%= form.label :投稿日, class: 'control-label' %><br>
    <%= form.date_select :day, class: 'form-control' %>
</div>
<div>
    <%= form.label :"内容", class: 'control-label' %><br>
    <%= form.text_area :content %>
</div>
<div><br>
    <%= form.submit :"投稿する" %>
   </div>
  <% end %>
<br>
  <%= link_to "戻る", :back %>
  </div>
