<!DOCTYPE html>
<html>
  <head>
    <title>Koko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>

     <div class="container">
      <nav class="navbar navbar-light bg-dark  fixed-top" >
        <!-- タイトル -->
        <a class="navbar-brand" href="/"><%= image_tag 'IMG_title.PNG' %></a>
        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler"　custom-hamburger" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
            <!-- ナビゲーションメニュー -->
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <!-- 管理者権限 -->
                <%if user_signed_in?%>
                <% if current_user.admin? %>
                <li class="nav-item">
                  <a class="nav-link" href="article/new">ブログ作成</a>
               </li>
                <li class="nav-item">
                  <a class="nav-link" href="info/new">お知らせ作成</a>
                </li>
                <% end %>
                <% end %>
                <!-- ゲストユーザー用 -->
                <%if user_signed_in?%>
                <% else %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/sign_up">新規ファン登録</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/sign_in">ファンログイン</a>
                </li>
                <% end %>
                <li class="nav-item">
                  <a class="nav-link" href="/">雨について</a>
                </li>
              </ul>
            </div>
       </nav>
    </div>
    <div class="top"><%= image_tag 'top.PNG' %>  <a class="notice"><%= notice %></a><a class="alert"><%= alert %></a>
    </div>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
